.container {
    width: 100%;

    .title {
        font-size: 32px;
        color: #001C3A;
        font-family: "Alata";
        font-weight: 400;
        margin-bottom: 5px;
    }

    .descr {
        font-family: "Alata";
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #6e7175;
        margin-bottom: 40px;
    }
}