.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;

    .button {
        padding: 10px;
    }

    .redirect {
        font-family: "Alata";
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        text-align: center;
        color: #6e7175;

        .link {
            color: #1261FF;
        }
    }
}