.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
        padding: 10px;
        margin-top: 8px 0 40px;
        background: #1261ff;
        border-radius: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        color: #fff;
        font-family: "Alata";
        width: 100%;
        margin-bottom: 8px;
    }

    .back {
        border: 1px solid #e8eaed;
        background: #fff;
        color: #010919;
        text-align: center;
    }

    .redirect {
        align-self: flex-start;
        font-family: "Alata";
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        text-align: center;
        color: #6e7175;

        .link {
            color: #1261FF;
        }
    }
}