@font-face {
    font-family: 'Abel';
    src: url('/public/fonts/Abel-Regular.woff2') format('woff2'),
        url('/public/fonts/Abel-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alata';
    src: url('/public/fonts/Alata-Regular.woff2') format('woff2'),
        url('/public/fonts/Alata-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arapey';
    src: url('/public/fonts/Arapey-Regular.woff2') format('woff2'),
        url('/public/fonts/Arapey-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
