*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  body {
    min-width: 320px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;

    img {
      max-width: 100%;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    button {
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      margin: 0;
    }
  }
}

:root {
  --blue_400: #1261ff;
  --blue_500: #002c83;
  --blue_600: #002c83;
  --blue_800: #001c3a;
  --blue_900: #010919;
  --red_500: #E72E48;
  --red_700: #b30000;
  --white_200: #333333;
  --white_300: #6e7175;
  --white_400: #B3B6BD;
  --white_600: #e8eaed;
  --white_900: #ffffff;
}