.header {
    background-color: #002C83;
    color: #ffffff;
    text-align: center;
    font-family: 'Arapey';
    font-weight: 400;
    font-size: 40px;
    line-height: 60%;
    padding: 22px;
}

.main {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 150px;
}